@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkGrayishBlue: hsl(217, 19%, 35%);
    --darkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    font-size: 0.8125rem;
    font-family: 'Manrope', sans-serif;
    padding: 0 1.375rem;
    font-weight: 500;
    padding-top: 4.5625rem;
    background: var(--lightGrayishBlue);
    min-height: 100vh;
    position: relative;
}

.visible {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.active {
    background: var(--darkGrayishBlue);
}
