---
import '../styles/global.css';
import ShareLinks from '../components/ShareLinks.astro';
import ShareIcon from '../components/ShareIcon.astro';

import drawers from '../images/drawers.jpg';
import avatar from '../images/avatar-michelle.jpg';
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <!-- displays site properly based on user's device -->

        <link rel='icon' type='image/png' sizes='32x32' href='/favicon.png' />

        <!--Link to actual page-->

        <!--article-preview-component-gold-nu.vercel.app/-->

        <title>Frontend Mentor | Article preview component</title>
    </head>

    <body>
        <div id='container'>
            <img id='banner' src={drawers} alt='drawers' />

            <section>
                <div id='top-section'>
                    <span id='heading'>
                        Shift the overall look and feel by adding these
                        wonderful touches to furniture in your home
                    </span>

                    <p>
                        Ever been in a room and felt like something was missing?
                        Perhaps it felt slightly bare and uninviting. I’ve got
                        some simple tips to help you make any room feel
                        complete.
                    </p>
                </div>

                <div id='bottom-section'>
                    <div id='profile'>
                        <img id='avatar' src={avatar} alt='avatar image' />

                        <div id='profile-info'>
                            <span id='name'>Michelle Appleton</span>
                            <span id='date'>28 Jun 2020</span>
                        </div>
                    </div>

                    <ShareLinks />

                    <div class='hidden' id='arrow-down'></div>

                    <ShareIcon />
                </div>
            </section>
        </div>
    </body>
</html>

<style>
    #container {
        border-radius: 15px;
        margin-bottom: 2rem;
        background: white;
        box-shadow: 0px 2px 18px 1px rgb(190, 190, 190);
    }

    #banner {
        width: 100%;
        max-height: 199px;
        margin-bottom: 2.565rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #heading,
    #name {
        color: var(--darkGrayishBlue);
        font-weight: 700;
    }

    #heading {
        display: block;
        font-size: 1rem;
    }

    #heading,
    #top-section {
        margin-bottom: 1.35rem;
    }

    #top-section,
    #bottom-section {
        padding: 0 2.06375rem;
    }

    p,
    #date {
        color: var(--darkBlue);
    }

    p,
    #heading {
        line-height: 1.3;
    }

    #bottom-section {
        display: flex;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        align-items: center;
        padding-bottom: 1.1875rem;
        position: relative;
        padding-top: 1.3125rem;
        padding-bottom: 1.3125rem;
    }

    #avatar {
        width: 43px;
        border-radius: 50%;
        margin-right: 1rem;
    }

    #profile-info {
        display: inline-block;
    }

    #profile-info > span {
        display: block;
    }

    #name {
        margin-bottom: 0.375rem;
    }

    /*Desktop view*/
    @media screen and (min-width: 768px) {
        #container {
            display: flex;
            width: 50.925%;
            height: 278.64px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #top-section,
        #banner {
            margin: 0;
            padding-right: 0;
        }

        #banner {
            width: 38.94%;
            max-height: 100%;
            border-radius: unset;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        #heading {
            font-size: 1.2rem;
        }

        section {
            padding-top: 2.2275rem;
            padding-right: 2.4525rem;
        }

        #arrow-down {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid var(--darkGrayishBlue);
            position: absolute;
            right: 0;
            top: 0;
        }
    }
</style>
